node_modules/
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist/
examples/**/dist/
docs/demo/
docs/badges/vitest-report.json
*.log
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
